{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4"></h1>
            {% for blog in blogs %}
            <div class="card mb-4">
                <img class="card-img-top" src="{{ blog.image }}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{ blog.title }}</h2>
                    <p class="card-text">{{ blog.body|length > 100 ? blog.body|slice(0, 100) ~ '...' : blog.body  }}</p>
                    <a href="{{ path('show', {'id': blog.id}) }}" class="btn btn-primary" target="_blank">Ver Mas &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Creado {{ blog.created|date('Y-m-d') }} Por
                    <a href="#">{{ blog.author  }}</a>
                    <a href="{{ path('edit', {'id': blog.id}) }}" class="btn btn-link btn-sm float-right">Editar</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <form class="pull-right hidden" role="search" id="nav-search-form" method="get" action="{{ path('search') }}">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name ="search">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
