{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="my-4">{{ blog.title }}</h1>
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ blog.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title"><b>Categoria:</b> {{ blog.topic }}</h6>
                        <p class="card-text">{{ blog.body  }}</p>
                        <a href="#" class="btn btn-primary">Ver Mas &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Creado {{ blog.created|date('Y-m-d') }} Por
                        <a href="#">{{ blog.author  }}</a>
                        <a href="#" class="btn btn-link btn-sm float-right">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
